/* Main Styles */
* {
	margin: 0px;
	padding: 0px;
	font-family: 'Inter', sans-serif;
}

body {
	position: relative;
	overflow-y: scroll;
	overflow-x: hidden;
}

/* Scrollbar */
body::-webkit-scrollbar {
	position: absolute;
  width: 8px;
}
 
body::-webkit-scrollbar-track {
  background-color: #dddddd;
}
 
body::-webkit-scrollbar-thumb {
  background-color: #aaaaaa;
	border-radius: 4px;
}

body::-webkit-scrollbar-thumb:hover {
	background-color: #888888;
}

/* Animated Underline */
.underline {
	display: block;
	width: max-content;
	position: relative;
}

.underline::before {
	content: '';
	width: 0%;
	position: absolute;
	bottom: -1px;
	height: 2px;
	background-color: var(--underline-color);
	transition: width 0.3s ease;
}

.underline:hover::before {
	width: 100%;
}
