/* Main Styles */
* {
	margin: 0;
	padding: 0;
	font-family: 'Inter', sans-serif;
	-webkit-tap-highlight-color: transparent;
	scroll-behavior: smooth;
}

#scroll-container {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
}

:root {
	font-size: 10px;
}

html {
	width: 100vw;
	overflow-x: hidden;
}

body {
	position: relative;
	overflow-y: scroll;
	overflow-x: hidden;
	padding: 0rem 1.5rem;
}

main {
	max-width: 90rem;
	padding: 0rem 10rem;
	margin: auto;
	margin-top: 6.5rem; /* Navbar spacing */
}

@media (max-width: 800px) {
	main {
		padding: 0rem 2rem;
	}
}

a {
	text-decoration: none;
	color: unset;
}

.mobile {
	display: none;
}

@media (max-width: 800px) {
	.mobile {
		display: block;
	}
}

.section-header {
	font-weight: bold;
	font-size: 3rem;
}

@media (max-width: 800px) {
	.section-header {
		text-align: center;
	}
}

/* Scrollbar */
::-webkit-scrollbar {
	width: 0 !important;
}

/* Glass Panel */
.glass-panel {
	background-color: rgba(244, 246, 250, 0.9);
	box-shadow: 0rem .2rem .4rem rgba(0, 0, 0, 0.25);
	border-radius: 1rem;
}

.glass-panel.clickable {
	transition: background-color 0.15s linear,
				box-shadow 0.15s ease;
	cursor: pointer;
}

@media (hover:hover) and (pointer:fine) {
	.glass-panel.clickable:hover {
		background-color: rgba(221, 227, 238, 0.9);
	}
}

.glass-panel.clickable:active {
	background-color: rgba(221, 227, 238, 0.9);
	box-shadow: 0rem .1rem .2rem rgba(0, 0, 0, 0.5);
}

/* icon-container */
.icon-container {
	display: grid;
}

.icon-container img {
	width: 5rem;
}

/* Dialog */

dialog {
	top: 50%;
	left: 50%;
	border: none;
	transform: translate(-50%, -50%);
	padding: 1.5rem;
	padding-top: 2rem;
	min-width: 30rem;
	width: 70%;
	max-width: 50rem;
	height: min-content;
	align-content: start;
	gap: 2rem;
	display: none;
}

dialog[open] {
	display: grid;
}

dialog::backdrop {
	background-color: rgb(60, 60, 60, 0.5);
	backdrop-filter: blur(.4rem);
	-webkit-backdrop-filter: blur(.4rem);
	height: 200vh;
}

dialog .title {
	font-size: 3rem;
	font-weight: bold;
}

dialog #form-error {
	font-size: 1.6rem;
	font-weight: bold;
	color: rgb(255, 78, 78);
	text-align: center;
	display: none;
}

dialog #form-error.shown {
	display: block;
}

dialog .text-input {
	display: grid;
	grid-template-columns: auto max-content;
	grid-template-rows: min-content min-content;
	grid-template-areas:
		"label limit"
		"area area";
	align-items: end;
	gap: .5rem;
}

dialog .text-input .label {
	font-size: 2.2rem;
	padding-left: .5rem;
}

dialog .text-input .char-limit {
	font-size: 1.6rem;
	padding-right: .5rem;
	color: rgb(120, 120, 120);
	text-align: right;
}

dialog .text-input textarea {
	grid-area: area;
	border: none;
	resize: none;
	outline: none;
	padding: 1rem;
	height: min-content;
	font-size: 1.4rem;
}

dialog .buttons {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 2rem;
}

dialog .buttons .clickable {
	padding: 1rem;
	color: white;
	font-weight: bold;
	font-size: 1.8rem;
	text-align: center;
	border-radius: 1rem;
	cursor: pointer;
	transition: filter 0.2s linear;
}

dialog .buttons .clickable:nth-child(1) {
	background-color: rgb(255, 78, 78);
}

dialog .buttons .clickable:nth-child(2) {
	background-color: rgb(78, 138, 255);
}

@media (hover:hover) and (pointer:fine) {
	dialog .buttons .clickable:hover {
		filter: brightness(0.9);
	}
}

/* Nav */
nav {
	position: fixed;
	z-index: 1;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	height: 5rem;
	width: 100%;
	max-width: min(110rem, 100vw - 3rem);
	display: grid;
	grid-template-columns: auto repeat(3, min-content);
	gap: 1.2rem;
	margin-top: 1.5rem;
}

nav .main-bar {
	display: grid;
	grid-template-columns: auto repeat(4, min-content);
	padding: 0rem 1.5rem;
	gap: 2rem;
	align-items: center;
}

nav .main-bar a {
	font-size: 2rem;
	color: rgb(74, 74, 75);
	transition: color 0.1s linear;
}

nav .main-bar a.inactive {
	color: rgb(120, 120, 120);
}

nav .main-bar a:nth-child(1) {
	font-size: 2.2rem;
	font-weight: bold;
}

@media (max-width: 800px) {
	nav {
		grid-template-columns: auto min-content;
	}

	nav .main-bar {
		grid-template-columns: auto;
	}

	nav .main-bar a:not(a:nth-child(1)) {
		display: none !important;
	}

	nav .clickable:not(.mobile) {
		display: none;
	}

	#mobile-menu {
		position: absolute;
		z-index: 1;
		top: calc(5rem + 1.2rem);
		right: 0;
		transform: translateX(calc(100% + 1.5rem));
		transition: transform 0.2s ease-in-out;
		padding: 1.5rem;
		padding-bottom: 1rem;
		display: grid;
		grid-template-areas:
			'a a a'
			's s s'
			'w w w'
			'p p p'
			'd d d'
			'l g m';
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(4, 1fr) min-content;
		gap: 1rem;
		column-gap: 0.4rem;
	}

	#mobile-menu a {
		font-size: 2.2rem;
	}

	#mobile-menu a:nth-child(1) {
		grid-area: a;
	}

	#mobile-menu a:nth-child(2) {
		grid-area: s;
	}

	#mobile-menu a:nth-child(3) {
		grid-area: w;
	}

	#mobile-menu a:nth-child(4) {
		grid-area: p;
	}

	#mobile-menu .divider {
		grid-area: d;
		height: 0.4rem;
		width: 100%;
		background-color: rgb(217, 217, 217);
	}

	#mobile-menu img {
		margin-top: -0.5rem;
		width: 5rem;
	}

	#mobile-menu-toggle.active + #mobile-menu {
		transform: translateX(0);
		display: grid;
	}
}

/* Nav Link Underline */

nav .main-bar a:not(a:nth-child(1)) {
	display: block;
	width: max-content;
	position: relative;
}

nav .main-bar a:not(a:nth-child(1))::before {
	content: '';
	width: 0%;
	position: absolute;
	bottom: -.1rem;
	height: .2rem;
	background-color: rgb(74, 74, 75);
	transition: width 0.3s ease;
}

nav .main-bar a:not(a:nth-child(1)):hover::before,
nav .main-bar a:not(a:nth-child(1)).active::before {
	width: 100%;
}

/* Hero */

#hero {
	position: relative;
	height: 45rem;
	margin: 0rem -3rem;
	padding-top: 25rem;
}

#hero-desc {
	font-size: 0;
}

#hero-desc .word {
	display: inline-block;
	white-space: nowrap;
	margin-right: 1.5rem;
}

#hero-desc .word p {
	font-size: 4rem;
	display: inline-block;
}

#hero-desc .space {
	width: 1.5rem;
}

#hero > p:nth-child(1) {
	font-size: 5rem;
	margin-bottom: 1rem;
}

@media (max-width: 800px) {
	#hero {
		margin: 0;
		padding-top: 20rem;
	}

	#hero > p:nth-child(1) {
		font-size: 4.5rem;
		margin-bottom: 1rem;
	}

	#hero-desc .word p {
		font-size: 3rem;
	}

	#hero-desc .word {
		margin-right: 1rem;
	}
}

@keyframes spin {
	0% {
		transform: rotate(0deg) scale(1);
	}

	50% {
		transform: rotate(180deg) scale(0.9);
	}

	100% {
		transform: rotate(360deg) scale(1);
	}
}

#gradient-blur {
	z-index: -1;
	position: absolute;
	filter: blur(11rem);
	width: 37rem;
	height: 37rem;
	right: 5rem;
	top: 20rem;
}

@media (max-width: 800px) {
	#gradient-blur {
		filter: blur(12rem);
		opacity: 0.8;
		right: 0;
		top: 5rem;
	}
}

#gradient-blur div {
	position: absolute;
	top: calc(50% - 10rem);
	width: 35rem;
	height: 20rem;
	border-radius: 3rem;
}

#square1 {
	background-color: rgba(112, 0, 255, 0.5);
	animation: spin infinite 7s linear;
	left: calc(50% - 10rem);
}

#square2 {
	background-color: rgba(78, 138, 255, 0.5);
	animation: spin infinite reverse 7.3s linear;
	left: calc(50% - 20rem);
}

/* About */

#about {
	display: grid;
	gap: 2rem;
	margin-bottom: 20rem;
}

#about .container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 2rem;
}

#about .container .left {
	display: grid;
	grid-template-areas:
		'a a'
		'b b'
		'c d';
	grid-template-columns: 1fr 1fr;
	gap: 1.5rem;
}

#about .container .left p {
	font-size: 2rem;
}

#about .container .left p:nth-child(1) {
	grid-area: a;
}

#about .container .left p:nth-child(2) {
	grid-area: b;
}

#about .container .left .glass-panel.clickable {
	font-size: 1.8rem;
	text-align: center;
	font-weight: bold;
	padding: 0.8rem;
}

#about .container .right {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: min-content min-content;
	align-content: center;
	row-gap: 1rem;
	column-gap: 4rem;
}

#about .container .right p {
	text-align: center;
	font-size: 1.5rem;
	font-weight: bold;
	color: rgb(74, 74, 75);
}

#about .container .right p.big-number {
	font-size: 6rem;
	font-weight: bold;
	color: black;
}

@media (max-width: 800px) {
	#about {
		text-align: center;
	}

	#about .container {
		grid-template-columns: 1fr;
		grid-template-rows: min-content min-content;
		grid-template-areas:
			'numbers'
			'text';
		gap: 5rem;
		max-width: 50rem;
		margin: auto;
	}

	#about .container .left {
		grid-area: text;
		gap: 2rem;
		max-width: 45rem;
		margin: auto;
	}

	#about .container .right {
		grid-area: numbers;
	}
}

/* Skills */

#skills {
	--icon-size: 8.5rem;
	display: grid;
	gap: 2rem;
	margin-bottom: 15rem;
}

#skills .container {
	display: grid;
	grid-template-columns: repeat(auto-fill, var(--icon-size));
	gap: 3rem;
	row-gap: 3.5rem;
	justify-content: center;
	padding-bottom: 2.5rem;
}

#skills .container p.label {
	position: absolute;
	margin-top: .5rem;
	width: var(--icon-size);
	font-size: 1.6rem;
	font-weight: bold;
	text-align: center;
}

#skills .container .icon-container {
	width: var(--icon-size);
}

#skills .container img {
	width: var(--icon-size);
	height: var(--icon-size);
}

@media (min-width: 1100px) {
	#skills .container {
		grid-template-columns: repeat(7, var(--icon-size));
	}
}

@media (max-width: 800px) {
	#skills {
		--icon-size: 7.5rem;
	}

	#skills .container p.label {
		font-size: 1.4rem;
	}
}

/* Works */

#works {
	display: grid;
	gap: 4rem;
	margin-bottom: 15rem;
}

.work {
	display: grid;
	grid-template-columns: min-content auto min-content;
	gap: 2rem;
	text-align: center;
}

.work .col1 {
	display: grid;
	gap: 2rem;
	grid-template-columns: 6rem auto;
	grid-template-rows: 6rem auto;
	grid-template-areas:
		"icon name"
		"desc desc";
}

.work.wide-logo .col1 {
	grid-template-columns: auto;
	grid-template-rows: 6rem auto;
	grid-template-areas:
		"icon"
		"desc";
	align-items: center;
}

.work .col1 .icon-container img {
	width: 6rem;
	height: 6rem;
}

.work.wide-logo .col1 img {
	height: 4rem;
	margin: 1rem 0rem;
}

.work .col1 .name {
	font-size: 3rem;
	font-weight: bold;
	display: grid;
	align-items: center;
	padding: 0 3rem;
}

.work .col1 .desc {
	grid-area: desc;
	font-size: 2rem;
	padding: 1.5rem 2rem;
	min-width: 26rem;
	height: calc(100% - 3rem);
}

.work .col2 {
	display: grid;
	gap: 2rem;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto min-content;
	grid-template-areas:
		"preview preview"
		"open source";
}

.work .col2 .preview {
	display: grid;
	align-items: center;
	grid-area: preview;
}

.work .col2 .preview img {
	width: 100%;
	aspect-ratio: initial;
}

.work .col2 .clickable {
	font-size: 2rem;
	font-weight: bold;
	padding: .75rem 1rem;
}

.work .col3 {
	display: grid;
	column-gap: 1rem;
	grid-auto-flow: column;
	grid-template-rows: repeat(3, 1fr);
	align-items: center;
	padding: .5rem 1rem;
}


.work .col3 img {
	width: 8.5rem;
	height: 8.5rem;
}

@media (max-width: 1000px) {
	.work .col3 {
		display: none;
	}
}

@media (max-width: 650px) {
	.work {
		grid-template-columns: auto;
		grid-template-rows: repeat(3, min-content);
	}

	.work .col2 .preview {
		justify-items: center;
	}

	.work .col2 .preview img {
		width: 80%;
	}

	.work .col3 {
		display: grid;
		grid-auto-flow: row;
		justify-content: center;
		grid-template-columns: repeat(auto-fill, 7.5rem);
		grid-template-rows: unset;
	}

	.work .col3.limit-3 {
		grid-template-columns: repeat(3, 7.5rem);
	}

	.work .col3 img {
		width: 7.5rem;
		height: 7.5rem;
	}
}

/* Publications */

#publications {
	display: grid;
	gap: 4rem;
	margin-bottom: 10rem;
}

.publication {
	display: grid;
	gap: 0.75rem;
	width: 100%;
}

.publication .meta {
	color: rgb(120, 120, 120);
	font-size: 1.6rem;
	white-space: pre;
}

.publication .title {
	font-size: 2.4rem;
}

.publication .authors {
	color: rgb(74, 74, 75);
	font-size: 2rem;
}

.publication .buttons {
	display: grid;
	grid-template-columns: 1fr 1fr;
	max-width: 30rem;
	gap: 2rem;
	margin: 1rem 0;
}

.publication .clickable {
	font-size: 2rem;
	font-weight: bold;
	padding: .75rem;
	text-align: center;
}

@media (max-width: 450px) {
	.publication .meta {
		white-space: normal;
	}
}

/* Footer */

footer {
	display: grid;
	justify-items: center;
	margin: 1.5rem auto;
	max-width: min(110rem, 100vw - 3rem);
	padding: 1rem 0;
}

footer .icons {
	display: grid;
	gap: 1rem;
	grid-template-columns: repeat(3, min-content);
}

footer .icons .icon-container {
	cursor: pointer;
	transition: opacity 0.2s linear;
}

footer p {
	font-size: 1.4rem;
	color: rgb(120, 120, 120)
}

@media (hover:hover) and (pointer:fine) {
	footer .icons .icon-container:hover {
		opacity: 0.8;
	}
}